* {
  margin: 0;
  box-sizing: border-box;
}

.Nav {
  background-color: #f0eeec;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  /* border-bottom: 0.1px solid #9f9b48; */
}
.title {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.name {
  font-family: bely-display, sans-serif;
  font-size: 30pt;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.65rem;
  padding-top: 5px;
  padding-left: 20px;
}
.profess {
  font-size: 14pt;
  letter-spacing: 0.5rem;
  text-align: left;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
  color: #9f9b48;
}

.nav-menu {
  display: flex;
  gap: 50px;
  padding: 50px 50px 50px 0px;
}
.burger-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
  .right-nav {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    float: right;
    width: 5vw;
    right: 2%;
    top: 12%;
    height: 500px;
    background-color: rgb(249, 235, 218);
    background-color: rgb(205, 177, 125);
    position: fixed;
    text-align: center;
    padding-top: 30px;
    padding-left: 10vw;
  }
  .burger-menu {
    margin-top: 75px;
    display: flex;
    gap: 40px;
    font-size: 10pt;
  }
  .nav-link {
    color: #9f9b48;
    justify-content: space-between;
    line-height: 50px;
  }
  .name {
    font-family: bely-display, sans-serif;
    font-size: 26pt;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.65rem;
    padding-top: 5px;
    padding-left: 20px;
    text-align: center;
  }
  .profess {
    font-size: 10pt;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 25px;
    padding-left: 20px;
    color: #9f9b48;
  }
}
